name: Build APK Solucion Final

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev \
          libncurses-dev cmake libffi-dev libssl-dev python3-pip

      - name: Install Buildozer & Cython
        run: |
          pip install --upgrade pip
          pip install "buildozer==1.5.0" "cython<3.0.0"

      - name: Build APK
        run: |
          # Limpieza total de lo que falló antes
          rm -rf .buildozer/
          # Aceptamos licencias automáticamente
          yes | buildozer -v android debug
        env:
          # Esto evita que use los NDKs rotos que ya vienen en GitHub
          ANDROID_SDK_ROOT: ""
          ANDROID_NDK_ROOT: ""

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Mi-App-Inventario
          path: bin/*.apk
