name: Build APK Rapido

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04 # Más estable para Kivy

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev \
        libncurses-dev cmake libffi-dev libssl-dev python3-pip

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install "buildozer==1.5.0" "cython<3.0.0"

    - name: Build with Buildozer
      run: |
        # Forzamos a que buildozer no se pierda en carpetas viejas
        rm -rf .buildozer/android/platform/build-* # Ejecutamos. Si falla, el log nos dirá por qué antes del error de 'yes'
        yes | buildozer -v android debug
      env:
        # Esto es clave para que no use el NDK roto de GitHub
        ANDROID_SDK_ROOT: ""
        ANDROID_NDK_ROOT: ""
        TERM: xterm

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK-Inventario
        path: bin/*.apk
