name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y python3-pip git zip unzip autoconf libtool \
          pkg-config zlib1g-dev libncurses-dev cmake \
          libffi-dev libssl-dev openjdk-17-jdk

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install Buildozer and Cython
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Build APK
      run: |
        # Ejecutamos buildozer directamente para poder ver el error real si falla
        buildozer -v android debug
      env:
        TERM: xterm

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
