name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build APK (non-root, no prompt)
        uses: docker://kivy/buildozer:latest
        with:
          entrypoint: /bin/bash
          args: >-
            -lc "useradd -m builder &&
            chown -R builder:builder /github/workspace &&
            su builder -c 'BUILDOZER_ALLOW_ROOT=1 buildozer android debug'"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: inventario-apk
          path: bin/*.apk
